body{
    margin : 0;
    padding: 0;
}
.brand {
    width: 50px;
}
.bg-image{
    background-image: url('https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); 
    height: 720px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-thumbnail{
    width: 200px;
}
.icon{
    width: 30px;
}
.footer{
    width: 20px;
}
.fixed-top .navbar-collapse {
    max-height: 340px;
    overflow-y: auto;
}
.card {
    width: 15rem; 
}
.mark{
    background-color: rgba(0, 0, 0, 0.6);
}
.footer-font-size{
    font-size: smaller;
}
.card-review{
    height: 100px;
}
.card-review .img-review{
    width: 90px;
    height: 90px;
}
/* Materials Icons */

/* Rules for sizing the icon. */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }